/*Reset basic styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #eeebeb;
    color: #333;
    padding: 20px;
}   

/*navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #347d24;
    padding: 15px 40px;
    color: white;
} 

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*hero section*/

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}